<section class="hero-section">
  <!-- Bloque Izquierdo: Texto y Botones -->
  <div class="hero-content">
    <h1 class="hero-title">Potencia tu rendimiento </h1>
    <h1 class="hero-title">Potencia tu rendimiento </h1>
    <p class="hero-description">
      Descubre nuestra selección exclusiva de laptops de última generación. Desde estaciones de trabajo para creadores hasta bestias gaming de alto rendimiento, MasterTech tiene el equipo perfecto para ti.
    </p>
    <div class="hero-actions">
      <button class="btn btn-primary" [routerLink]="['/productos']">Descubrir</button>
      <button class="btn btn-primary" [routerLink]="['/ofertas']">Ver Ofertas</button>
    </div>
  </div>

  <!-- Bloque Derecho: Imágenes -->
  <div class="hero-images">
    <img src="assets/hero-image-1.png" alt="Laptop" class="hero-image-main">
    <img src="assets/hero-image-2.png" alt="Monitor" class="hero-image-secondary">
  </div>
</section>
